<.header>
  Edit Book <%= @book.id %>
  <:subtitle>Use this form to manage book records in your database.</:subtitle>
</.header>

<.book_form changeset={@changeset} action={~p"/books/#{@book}"} />

<.back navigate={~p"/books"}>Back to books</.back>
